body.esc-layout {
    min-width: 960px;
    margin: 0 auto;
    vertical-align: baseline;
}

ol,ul{
    list-style: none;
}

a{
    text-decoration: none;
    
}

.header-wrapper, .main-content-container{
    
        transition: transform .2s ease-in-out;
}


.promo-bar {
    display: block;        
}
.promo-bar .customer-care-wrapper {
    float: left;
    max-width: 50%;
}
.promo-bar .customer-care {
    font-size: 11px;
    color: #000;
    margin-left: 15px;
    display: block;
}
.promo-bar {
    width: 100%;
    min-height: 32px;
    position: relative;
    height: auto;
    overflow: visible;
    z-index: 5;
    background-color: #EEE;
    overflow: hidden;
  }
.promo-bar .service-message-wrapper {
    padding-top: 2px;
    max-width: 50%;
    margin: 0 auto;
    position: relative;    
}

.service-message-wrapper .service-banner{
    position: absolute;
    left: 0px;
    right: 0px;
    text-align: center;
    /*background: red; */
   
}
.caption-wrapper{
   width: 100%;
   
    transform: translateY(0%);
}

.service-message-wrapper .captions{
  
    
    font-style: italic;
    font-size: 15px;
    color: #000; 
    white-space: nowrap;
    
}
.content-container{
    position: relative;
    clear: both;
}

.girdle-header {
    border: none;
    position: relative;
    height: auto;
}

.girdle-header>.inner {
    min-height: 66px;
}

.max-girdle-width {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    /* background: green; */
}


.girdle-header .inner .site-preferences{
    position: relative;
    display: block;
    float: left;
    padding-top: 20px;
    /* background: #EEE; */
    width: 30%;
}

.usa{
    width: 13px;
    height: 13px;
    border-radius: 6.5px;
    margin: 1px 4px 0 0;
    border: 1px solid #cbcbcb;
}
.divider{
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid black;
}

.logo-strapline{
    margin: 0 auto;
    padding: 24px 0;
    /*background: blue;*/
    width: 230px;
    
        
}
.lead-ly{
    margin: 0 auto;
    position: relative;
    vertical-align: middle;
    
}

.main-nav {
    background: #000;
    height: 30px;
    position: relative;
    overflow: visible;
    z-index: 2;
    width: 100%;
    left: 0;
    cursor: default;
}

.main-nav .inner{
    height: 100%;
}

.nav-whats-new:hover  a.nav-level-1{
    background: white;
    color: black;
    
   
}

.main-nav>.inner{
    text-align: justify;
}

.nav-links-container {
    position: static;
    /* background: red; */
    height: 100%;
    
}

.nav-links{
    padding: 0 0 0 3px;
    display: inline;
    margin-bottom: 20px;
    overflow: hidden;
     /*background-color: green; */
}

li {
    vertical-align: top;
    padding-top: 8px;
    padding-right:18px;
    display: inline-block;
    /* background: blue; */
}

li>a {
    color: #FFF;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px 9px 9px 0px;
    margin: 0px;
    
}

.main-nav>.inner .nav-links>li{
    padding: 4px 5px 0 2px;
}

.main-nav>.inner .nav-links>li>a {
    padding: 10px 10px 9px;
       
    
}


 /*li>a:hover {
    background-color: white;
    color:#000;    
}*/

.nav-level-2 {
  display: none;
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: auto;
    border-bottom: 5px solid #000;
    background: white;
    text-align: left;

}


li>a:hover + .nav-level-2{
    display: block;
}

.nav-level-2:hover{
    display: block;
}

.nav-level-2-container {
    padding-top: 40px;
    padding-bottom: 40px;
    /*background: lightgreen; */
    -webkit-box-flex: 0;
}

.row{
    display: flex;
    flex: 0 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;    
}

.list-container {
    padding: 0px;
}

.col-lg-2{
    flex-basis: 16.666666667%;
    max-width: 16.666666667%;
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-flex: 0;
    /*background: red;*/
    margin-left: 5px;
    
}

.main-nav>.inner .nav-level-2 .nav-level-2-container .heading {
    text-transform: uppercase;
    color: #000;
    letter-spacing: 1px;
    
    font-size: 14px;
    margin: 0 0 10px;
    
    
}

.whats-new-product .heading {
    position: absolute;
    margin-top: -30px;
}

.main-nav .nav-links .nav-level-2 ul {
   width: 100%;
   margin: 0px;
    padding: 0px;
    
    /*background: blue;*/
    display: block;    
    
}

.main-nav>.inner .nav-level-2 .nav-level-2-container li {
    margin-bottom: 12px;
}


.invisible{
    display: none;
}

.main-nav>.inner .nav-level-2 .nav-level-2-container li a {
    font-size: 13px;
    line-height: 17px;
    letter-spacing: .5px;
    color: #000;
    display: inline;
    /*background: green;*/
    text-transform: none;

}

.whats-new-product {
    display: block;
     
   /*background: lightblue;*/
}


.whats-new-product img {
    width: 100%;
    max-width: 160px;
    margin-bottom: 20px;
   
}

.product-designer {
    letter-spacing: 1px;
    line-height: 14px;
    text-transform: uppercase;
    padding-bottom:0px;
}

.product-title {
    letter-spacing: .5px;
    line-height: 18px;
    margin: 10px 0;
    font-size: 12px;
}

.nav-designers:hover  a.nav-level-1{
    background: white;
    color: black;
    
   
}

/* Carousel */

.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
}

..carousel-control .glyphicon,
.carousel-control .icon-prev,
.carousel-control .icon-next {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  font-family: serif;
}



.glyphicon-chevron-left:before {
    content: "\276E";
}

.glyphicon-chevron-right:before {
    content: "\276F";
}


.carousel-control.left, .carousel-control.right {
    background: black;
    top:45%;
    height: 50px;
    /* filter: none !important; */
}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 4%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: rgba(0,0,0,0);
    filter: alpha(opacity=50);
    opacity: .5;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    position: absolute;
    top: 30%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    left: 30%;
    
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    right: 40%;
    
}

/* BEGIN MAIN CONTENT */

.main-content-container {
    margin-top: 10px;
}

main{
    display: block;
    max-width: 960px;
    min-width: 960px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    z-index: 1;
    /*background: red;*/
    height: auto;
      
}

main * {
    margin: 0;
    padding: 0;
}

.pageContentHolder #mainContent {
    font-family: Arial,sans serif;
    font-size: 14px;
    line-height: 16px;
}

.sections {
    margin-bottom: 10px;
}

main .clear{
    clear:both;
}

/*gray bar*/ 
.features-graybar {
    margin-top: 0px;
    border-top:1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
    overflow: hidden;
    margin-bottom: 10px;
}

.features-graybar-inner {
    margin: 2px;
}

.features-graybar-block {
    width: 50%;
    float: left;
    position: relative;
    background-color: #f0f0f0;
    text-align: center;
    padding: 6px 0;
}

.features-graybar-block a {
    text-decoration: none;
    text-transform: uppercase;
    font-style: italic;
    /*font-weight: bold;*/
    color: gray;
}

.features-graybar-block a span {
    color: black;
}

.features-graybar-blockdiv {
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 0px;
    width: 1px;
    border-right: 1px solid #c7c7c7;
}

.boxes{
    width: 100%;
    height: 218px;
    display: flex;
    margin-bottom: 30px;
    
}
.box-1{
    margin-right: 7px;
    border: 2px solid #F0F0F0;
    height: inherit;
    width: 33%;
    
}

.box-2{
    margin-right: 7px;
}


.line {
  background: none repeat scroll 0 0 #E5E5E5;
  height: 1px;
  position: relative;
  top: 10px;
  z-index: 0;
  margin: 0 80px;
}
.midSection .sectionHeader {
  width: 300px;
  margin-bottom: 30px;
}
.sectionHeader {
  background: none repeat scroll 0 0 #ffffff;
  font-size: 20px;
  line-height: 21px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}
.menuLine {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}
.menuLine div {
  position: relative;
  margin: 10px 0;
}
.menuLine .menu {
  font-family: GillSans, "Gill Sans MT", Calibri, sans-serif;
  padding-left: 50px;
  padding-right: 50px;
  text-transform: uppercase;
 /* border-right-style: solid; */
  border-width: thin;
  border-color: #E5E5E5;
  margin-right: -3px;
  font-size: 13px;
}
.menu {
  display: inline-block;
  zoom: 1;
  vertical-align: top;
  height: 15px;
  cursor: pointer;
}

.middleBlock {
  display: none;
  height: 380px;
  padding: 30px 100px;
  
}

.firstBlockContent {
    float: left;
    position: relative;
    max-width: 35% !important;
    margin-right: 5%;
}

h3 {
    font-family: Arial;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

p.firstp {
    margin-bottom: 5px;
    font-family: Arial;
    font-size: 16px;
    line-height: 16px;
    color: gray;
    line-height: 25px;
}

.firstBlockContent p {
    margin-bottom: 25px;
}

.ctaPorter {
    background-color: none;
    cursor: pointer;
    display: block;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 22px;
    margin-top: 10px;
    max-width: 50%;
    border: 2px solid !important;
    border-color: #F7941E !important;
    padding: 8px 24px 9px !important;
    text-align: center;
    color: #484848 !important;
    font-family: arial;
    
}

.meadly2{
    position: relative;
    float: left;
    max-width: 45% !important;
}

main img {
    vertical-align: bottom;
}


#firstBlock {
  display: block;
}


.menu.active {
  color: #999;
 padding-bottom: 30px;
    border-bottom: 2px solid gray;
    
}


---------------------------------------------------------------------------------------------------------------

/* This is override*/ 

.gray-box {
    height: 218px;
    width: 33%;
    border: 2px solid #F0F0F0;
    display: flex;
    
}

